    $fontsize:12px;
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @mixin navIcon {
        width: auto;
        height: 2.2*$fontsize;
        padding-right: 2*$fontsize;
    }

    body{
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image: url(../images/bg.png);
        display: flex;
        flex-wrap: wrap;
    }
    
    .nav{
        display: flex;
        width: 100%;
        height: 4*$fontsize;
        margin-top: 5.1*$fontsize;
        background-color: rgba(202, 200, 227, 0.1);
        background-image: url(../images/logobg.png);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-between;
        &__logo{
            display: flex;
            align-items: center;
            &--logoImag{
                margin-left: 2*$fontsize;
                height: 5*$fontsize;
                justify-self: flex-start;
            }
            &--logoWords{
                margin-left: 2*$fontsize;
                color: white;
                font-size: 2.5*$fontsize;
            }
            &--address{
                margin-left: 1.6*$fontsize;
                font-size: 1.6*$fontsize;
                color: white;
                
            }
        }
        &__login{
            display: flex;
            align-items: center;
            &--notification{
                @include navIcon();
            }
            &--loginMag{
                @include navIcon();
            }
            &--setting{
                @include navIcon();
            }
        }
    }

    .content{
        margin-top: 12*$fontsize;
        background-color: rgba(27, 16, 183, 0);
        width: 100%;
        height: 500px;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &__search{
            margin-top: 2*$fontsize;
            background-color: rgba(69, 58, 222, 0.7);
            margin-bottom: 5`*$fontsize;
            border-radius: 6*$fontsize;
            height: 4*$fontsize;
            width: 50*$fontsize;
            display: flex;
            align-items: center;
            justify-content: center;
            &--logo{
                @include navIcon(); 
            }
            &--type{
                width: 29*$fontsize;
                background-color: rgba(27, 16, 183, 0.5);
            } 
        }
        &__cards{
            
            // background-color: black;
            display: grid;
            grid-template-columns: repeat(16,2*$fontsize);
            grid-gap: 4*$fontsize;
            
            &--card{
                border: 1px solid;
                border-color: #9a79d0;
                background-color: rgba(#845EC2, 0.7);
                border-radius: 1*$fontsize;
                grid-column-start: span 4;
                width: 100%;
                height: 16*$fontsize;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                transition: all 0.3 ease 0;
            
                &:hover{
                    box-shadow: 0 0 10px rgb(0,153,184) inset,0 0 30px rgb(0,153,184);
                }
            }
        }

    }

    .badge{ 
        width: 100%;
        height: 40*$fontsize;
        margin-top: 15*$fontsize;
        display: flex;
        justify-content: center;
        align-items: center;
        &__badgeContainer{
            width: 33*$fontsize;
            height: 34*$fontsize;
            & img{
                width: 100%;
                height: 100%;
                transition: all 0.3 ease 0;
                &:hover{
                    transform: translateY(-1*$fontsize);
                }
            }
        }
       
    }

